@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pink-red: #ED1E79;
  --color-purple: #a537fd;
  --color-pink: #FF00F7;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
